In [1]:
import numpy as np
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
df_crime = pd.read_csv('https://cocl.us/sanfran_crime_dataset')
df_crime.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
0,120058272,WEAPON LAWS,POSS OF PROHIBITED WEAPON,Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212120
1,120058272,WEAPON LAWS,"FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE",Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212168
2,141059263,WARRANTS,WARRANT ARREST,Monday,04/25/2016 12:00:00 AM,14:59,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.7299809672996, -122.388856204292)",14105926363010
3,160013662,NON-CRIMINAL,LOST PROPERTY,Tuesday,01/05/2016 12:00:00 AM,23:50,TENDERLOIN,NONE,JONES ST / OFARRELL ST,-122.412971,37.785788,"(37.7857883766888, -122.412970537591)",16001366271000
4,160002740,NON-CRIMINAL,LOST PROPERTY,Friday,01/01/2016 12:00:00 AM,00:30,MISSION,NONE,16TH ST / MISSION ST,-122.419672,37.765050,"(37.7650501214668, -122.419671780296)",16000274071000

In [3]:
df_crime1 = pd.DataFrame(df_crime['PdDistrict'])
df_crime2 = pd.DataFrame(df_crime1['PdDistrict'].value_counts())
##df_crime2.columns = {'Neighborhood', 'Count'}
df_crime2.reset_index(inplace = True)
df_crime2.columns = {'Neighborhood', 'Count'}
df_crime2

        Count  Neighborhood
0    SOUTHERN         28445
1    NORTHERN         20100
2     MISSION         19503
3     CENTRAL         17666
4     BAYVIEW         14303
5   INGLESIDE         11594
6     TARAVAL         11325
7  TENDERLOIN          9942
8    RICHMOND          8922
9        PARK          8699

In [4]:
!wget --quiet https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DV0101EN/labs/Data_Files/world_countries.json -O world_countries.json

'wget' is not recognized as an internal or external command,
operable program or batch file.

In [8]:
world_geo = r'world_countries.json'
!conda install -c conda-forge folium = 0.5.0 --yes

CondaValueError: invalid package specification: =

In [7]:
world_map = folium.Map(
     location = [37.77, 122.42],
     zoom_start = 12,
     titles = 'Mapbox Bright'
)

NameError: name 'folium' is not defined